 :root {
    base: #70522e;
    bg: #e4cfaa;
    left: #c9a96e;
    right: #d4ba8c;
    headerborders: #e4cfaa;
    text: #534336;
    link: #975b1c;
    highlight: #f3e4be;
    pagetitle: #90705a;
    pagetitletext: #f1f0e8;
    menudivider: #c2ac7a;
    node: #fff5d6;
    nodeborders: #fff5d6;
    nodedivider: #cbb59a;
    stickynode: #feea9a;
    tableheader: #cbb18b;
    even: #e3d7c0;
    sidebar: #f6e1b7;
    sidebarborders: #f8e7c4;
    sidebardivider: #ccb08e;
    sidebartext: #615342;
    sidebarlink: #c55b34;
    footer: #4d3d2e;
    footertext: #f0e2bc;
    footerlink: #d48f2b;
    titleslogan: #7f5f3d;
 }