:root {
    base: #396ec6;
    bg: #ffffff;
    left: #0044d6;
    right: #9ed1ff;
    headerborders: #ffffff;
    text: #424242;
    link: #1a7def;
    highlight: #d0e3f6;
    pagetitle: #2f5ec1;
    pagetitletext: #f1f1f1;
    menudivider: #bcbcbc;
    node: #ffffff;
    nodeborders: #ffffff;
    nodedivider: #b8bcbe;
    stickynode: #d7dfff;
    tableheader: #c0dbfb;
    even: #e6eafa;
    sidebar: #d7dfff;
    sidebarborders: #d7dfff;
    sidebardivider: #a9b2d6;
    sidebartext: #404b64;
    sidebarlink: #3b92bc;
    footer: #2d355c;
    footertext: #e5e5e5;
    footerlink: #5291ff;
    titleslogan: #ffffff;
}